<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div sec:authorize="isAuthenticated()">
        <form id = "form" method="post">
            <textarea id="comment_area" name="comment" placeholder="Input your comment" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <p th:text="${meditation_item.description}"></p>
    <p th:text="${meditation_item.videoURL}"></p>
    <p th:text="${meditation_item.id}"></p>
    <p th:text="${meditation_item.imagePATH}"></p>
    <div th:each="i :${comments_list}"  id="comments_list">
        <p th:text="${i.author}"><p th:text="${i.message}"></p></p>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function(){
          $('#form').submit(function (e){
              e.preventDefault();
              let data = $(this).serialize();
              $.ajax({
                  type: "POST",
                  url: $(this).attr('href'),
                  data: data,
                  success: function (result) {
                      let object= document.createElement("p");
                      data = data.substr(8,String(data).length);
                      object.textContent = data;
                      alert(data);
                      const comment_list = document.querySelector("#comments_list");
                      comment_list.append(object);
                      let area = document.querySelector("#comment_area");
                      area.textContent=" ";

                  }
              });
            });
        });
    </script>
</body>
</html>